/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: #353535;
}
