<div class="container">
  <div class="container1">
    <div class="box">
      <div class="label">from</div>
      <input type="date" [(ngModel)]="timeFrom">
    </div>
    <div class="box">
      <div class="label">to</div>
      <input type="date" [(ngModel)]="timeTo">
    </div>
    <div class="box">
      <button (click)="showBookList()">Thong Ke</button>
    </div>
  </div>

  <table id="customers">
    <tr>
      <th>Ma</th>
      <th>Ten sach</th>
      <th>Tac gia</th>
      <th>Ma vach</th>
      <th>Tong so luot muon</th>
    </tr>
    <tr *ngFor="let book of bookList" (click)="showDetail(book.id)">
      <td>{{book.id}}</td>
      <td>{{book.book.name}}</td>
      <td>{{book.book.author}}</td>
      <td>{{book.book.barcode}}</td>
      <td>{{book.totalBorrowings}}</td>
    </tr>
    <tr>{{sumString1}}</tr>
  </table>

  <table id="detail">
    <tr>
      <th>Ngay Muon</th>
      <th>Doc Gia</th>
      <th>Ngay Tra</th>
      <th>Tien Phat</th>
    </tr>
    <tr *ngFor="let book of bookDetail">
      <td>{{book.borrowDate}}</td>
      <td>{{book.reader.name}}</td>
      <td>{{book.returnDate}}</td>
      <td>{{book.fine}}</td>
    </tr>
    <tr>{{sumString2}}</tr>
  </table>
</div>
