.container {
  display: flex;
  flex-direction: column;

  .container1 {
    display: flex;
    justify-content: center;

    .box{
      display: flex;
      flex-direction: column;
      margin: 0 40px;

      .label {
        text-align: left;
      }
    }
  }

  #customers, #detail {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: 50px 40px;
  }

  #customers td, #detail td, #customers th, #detail th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  #customers tr, #detail tr:nth-child(even){background-color: #f2f2f2;}

  #customers tr, #detail tr:hover {background-color: #ddd;}

  #customers th, #detail th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    text-align: center;
  }
}
