.title {
    font-size: 40px;
    text-align: center;
}
.sub-title{
    background: #4CAF50;
    color: white;
    font-size: 30px;
    text-align: center;
}

.contain {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.btn {
    width: 250px;
    margin: 12px auto;
}
