#phieunhap{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: 50px 40px;
}

#phieunhap td, #phieunhap th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#phieunhap tr:nth-child(even){background-color: #f2f2f2;}

#phieunhap tr:hover {background-color: #ddd;}

#phieunhap th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    text-align: center;
}
