#phieunhapchitiet, #ncc{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: 50px 40px;
}

#phieunhapchitiet td, #phieunhapchitiet th, #ncc td, #ncc th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#phieunhapchitiet tr:nth-child(even), #ncc tr:nth-child(even){background-color: #f2f2f2;}

#phieunhapchitiet tr:hover, #ncc tr:hover {background-color: #ddd;}

#phieunhapchitiet th, #ncc th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    text-align: center;
}
