.container{
    display: flex;
    flex-direction: row;
}

.box{
    display: flex;
    flex-direction: column;
}

.label{
    color: black;
}

#ncc{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: 50px 40px;
}

#ncc td, #ncc th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#ncc tr:nth-child(even){background-color: #f2f2f2;}

#ncc tr:hover {background-color: #ddd;}

#ncc th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

.footer{
    display: flex;
    flex-direction: row;
}
