.container {
  background: #d2d2d2;
  margin: 30px 120px;

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0;

    .nav-item {
      flex-grow: 1;
      background: green;
      padding: 18px;
      color: white;
      font-size: 15px;
      border-right: #353535 1px solid;
    }

  }
}
