<div class="container">
  <!-- header -->
  <nav class="navbar">
    <!-- logo -->
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="https://bulma.io/images/bulma-logo.png">
      </a>
    </div>
  </nav>

  <div class="nav">
    <div class="nav-item" routerLink="/home/thongke">Thong Ke</div>
    <div class="nav-item" routerLink="/home/trasach">Tra Sach</div>
    <div class="nav-item" routerLink="/home/muonsach">Muon Sach</div>
  </div>

  <!-- routes will be rendered here -->
  <router-outlet></router-outlet>

</div>
